h1{
	color:red;
	text-decoration:underline;
	text-align:center;
}
h2{
	color:green;
	text-decoration:underline;
	font-size-adjust: 0.8
}

h6{
	font-size-adjust: 0.9
}


b{
	font-size-adjust: 0.6
}
hr{
	font-size-adjust: 2
}
body{
	background:darkgrey;
}